REGION=us-west2
DATABASE_URL=postgres://postgres:postgres@localhost:5432/ens_rpc_monitor
PORT=3001
REQUEST_TIMEOUT_MS=15000

ALCHEMY_API_KEY=
INFURA_API_KEY=
QUICKNODE_APP_NAME=
QUICKNODE_API_KEY=
QUICKNODE_ENDPOINT=
CHAINSTACK_API_KEY=
CHAINSTACK_ENDPOINT=
ANKR_API_KEY=
DRPC_API_KEY=
GOLDSKY_API_KEY=
